@import "reset"
@import "init"

body
  color font-color
  line-height 1.5
  font-family "微軟正黑體", "微软正黑体", Tahoma, Arial, Helvetica

#content
  width 960px
  height 750px
  margin 0px auto
  position relative
  #pigeon
    position absolute
    cursor pointer
    left 20px
    width 80px
    top 32px
  #parliament
    position absolute
    top 335px
    left 0px
  #projector
    position absolute
    top 15px
    right 10px
    height 335px
    width 435px

    #projector-content
      display none
      width 372px
      height 270px
      left 28px
      top -8px
      position relative
      border solid 3px black
      background-color white
      overflow hidden

      #projector-text
        margin 15px 20px
        color #555555
        font-size 16px
        span
          color #07798F
          font-weight bold
          font-size 16px
        img
          width 120px
          float left
          margin-right 5px
        p
          font-size 15px

      #projector-image
        position relative
        height 100%
        img
          position absolute
          top 0px
          left 0px
          display none
        .slider-wrapper
          height 100%
        .nivoSlider
          height 100%
        .nivo-controlNav
          bottom 0px
          left 0px
          margin-left 0px
          a
            width 18px
            height 18px

      #projector-subscribe
        padding-top 100px
        text-align center
        color #3b3b3c
        font-size 16px
        #subscribe-submit
          padding 2px 5px
          background-color #087A91
          cursor pointer
          color white

    #projector-bottom
      position relative
      top -8px

  #video-list
    position relative

    .video
      cursor pointer
      position absolute
    #whatisdp
      top 20px
      left 130px
    #dpprocess
      top -110px
      left 370px
    #dppromote
      top 50px
      left 750px
  
#footer
  float none
  width 960px
  margin 0 auto
