@import "reset"
@import "init"

body
  color font-color

header
  width 100%
  border-bottom solid border-color
  padding-bottom 20px
  overflow hidden

  #header-main
    width 960px
    margin 0px auto

    img
      float left

  #header-info
    float right

    a
      font-size 16px
      color font-color

    p
      text-align right
      line-height 22px

nav
  width 960px
  margin 0px auto
  overflow hidden

  ul
    float right
    margin-right 10px

    li
      float left
      list-style none

      a
        padding 12px 10px
        font-size 18px
        color font-color

        &:hover
          background-color border-color
          color white

#content
  width 960px
  height 750px
  margin 0px auto
  position relative

  #parliament
    position absolute
    top 335px
    left 0px

  #projector
    position absolute
    top 15px
    right 10px
    height 335px
    width 435px

    #projector-content
      display none
      width 372px
      height 270px
      left 28px
      top -8px
      position relative
      border solid 3px black
      background-color white
      overflow hidden

      #projector-text
        margin 15px 20px
        color #555555
        font-size 16px

        span
          color #07798F
          font-weight bold
          font-size 16px

        img
          width 130px
          float left
          margin-right 5px

      #projector-image
        position relative

        img
          position absolute
          top 0px
          left 0px
          display none

    #projector-bottom
      position relative
      top -8px

  #video-list
    position relative

    .video
      cursor pointer
      position absolute
    .video:first-child
      top 20px
      left 130px
    .video+.video
      top -110px
      left 370px
    .video+.video+.video
      top 70px
      left 405px
    .video+.video+.video+.video
      top 50px
      left 750px

footer
  border-top solid footer-border-color
  width 960px
  margin 0px auto

  #footer-main
    width 500px
    margin 11px auto
    text-align center
    font-size 14px

    img
      float left
      margin 0px 5px

    p.font-special-color
      color font-special-color
