font-color = #714644
font-special-color = #27899c


border-color = #087a91
footer-border-color = #cab3af

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
border-radius()
  vendor('border-radius', arguments)
box-shadow()
  vendor('box-shadow', arguments)


a
  text-decoration none
  cursor pointer
ul
  list-style none
