p
  label(for='product_name') Product Name:
p
  input(type='text', name='product[name]', value=product.name)
p
  label(for='product_description') Product Description:
p
  textarea(name='product[description]')= product.description
p
  label(for='product_price') Product Price:
p
  input(type='text', name='product[price]', value=product.price)
p
  input(type='submit')
